body {
  text-align: center;
  font-family: sans-serif;
}

h1,
p {
  margin: 0;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 300px;
  width: 300px;
  margin: auto;
}

.grid-cell {
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.grid-cell:not(.disabled):hover {
  background-color: #eee;
}

.grid-cell:nth-child(-n + 3) {
  border-top: none;
}

.grid-cell:nth-child(3n + 1) {
  border-left: none;
}

.grid-cell:nth-child(3n + 3) {
  border-right: none;
}

.grid-cell:nth-last-of-type(-n + 3) {
  border-bottom: none;
}

.x::after {
  content: "X";
}

.o::after {
  content: "O";
}

.disabled {
  cursor: not-allowed;
  background-color: lightgray;
}

.game-over {
  display: none;
  box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
  margin-top: 1rem;
  padding: 0.5rem;
}

.game-over-text {
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.visible {
  display: block;
}

.bold-text {
  font-weight: bold;
}

.restart {
  display: block;
  margin: 10px auto;
}
